/* CSS declarations go here */

.dropdown-menu {
    width: 250% !important;
    height: 350% !important;
    left:-150%;
}

.dropdown-menu.register {
    width: 300% !important;
    height: 520% !important;
    left:-200%;
}

@media (min-width: 768px) {
    .pull-right-lg {
        float: right;
    }
}