/* CSS declarations go here */

.dropdown-menu.login {
    width: 250% !important;
    height: 350% !important;
    left:-150%;
}

.dropdown-menu.register {
    width: 300% !important;
    height: 520% !important;
    left:-200%;
}

@media (min-width: 768px) {
    .pull-right-lg {
        float: right;
    }
}

.row{ padding-bottom:-20px; }

.btn-separator:after {
    content: ' ';
    display: block;
    float: left;
    background: #ADADAD;
    margin: 0 5px;
    height: 200px;
    width: 1px;
}

#myNav.affix {
    position: fixed;
    top: 0;
    width: 15.5%;
    z-index:10;
}

