
<template name = "headerTemplate">
    <div class="row">

        <nav class="navbar navbar-default" role="navigation">
        	<!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <img  src="logo2.jpeg" class="img-responsive"  width="50px" height="60px">

            </div>

            <div class="navbar-header">

        		<a class="navbar-brand" href="#">sendMeMeal</a>
        	</div>

            <ul class="nav navbar-nav pull-right-lg">
                <li class="dropdown">
                    <a href="#" class="dropdown" data-toggle="dropdown"> <span>  </span> Login with password <b class="caret"></b></a>
                    {{>loginTemplate}}

                </li>
                <li class="dropdown">
                    <a href="#" ><span>  </span></a>


                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown" data-toggle="dropdown"> <span>  </span>Register with phone <span>  </span> <b class="caret"></b></a>
                        {{>registerTemplate}}
                </li>

            </ul>
        </nav>

    </div>
</template>

<template name = "loginTemplate">

    <div class="dropdown-menu login" style="padding: 17px" >
        <form action="" method="POST" role="form">
            <div class="form-group">
                <input type="text" class="form-control" name="" id="" placeholder="Phone number">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="" id="password" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <button  id = "back_button" class="btn btn-primary">Back</button>
            <a href="#" id = "forgot_password">Forgot Password</a>
        </form>

    </div>


</template>





<template name = "registerTemplate">
    <div class="dropdown-menu register" style="padding: 17px">
        <form action="" method="POST" role="form">
            <div class="form-group">
                <input type="text" class="form-control" name="" id="" placeholder="Phone number">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="" id="" placeholder="Name">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="" id="" placeholder="Email">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="" id="" placeholder="Phone number">
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</template>